Source: ros-jade-ros-base
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-ros-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-bond-core, ros-jade-class-loader, ros-jade-dynamic-reconfigure, ros-jade-nodelet-core, ros-jade-pluginlib, ros-jade-ros-core
Description: A metapackage which extends ros_core and includes other basic non-robot tools like actionlib, dynamic reconfigure, nodelets, and pluginlib.
